*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --cloud: rgba(244, 244, 253, 1);
    --nav-color: rgba(90, 90, 231, 0.9);
    --footer-color: rgba(90, 90, 231, 1);
    --input-border-color: rgba(46, 47, 66, 0.4);
    --input-border-focus-color: rgba(46, 47, 66, 1);
    --button-color: rgba(153, 137, 213, 0.69);
    --button-hover-color: rgba(153, 137, 213, 0.90);
    --black: #rgba(0, 0, 0,1);
}

/* Globalne resetowanie stylow */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background: var(--white);
   
    height: 100%;
}

 /* Footer */
 .footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:var(--footer-color);
    padding: 15px 5px;
    color: var(--white);
    text-shadow: 2px 2px 8px var(--white);
 }

.footer-logo{
    display: flex;
    flex-flow: column nowrap;
    width: 32px;
    align-items: center;
}

.footer-date{
    align-self: flex-end;
    color: var(--black);
    text-shadow: none;
}

.hidden {
    display: none;
 }