*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --cloud: rgba(244, 244, 253, 1);
    --nav-color: rgba(90, 90, 231, 0.9);
    --input-border-color: rgba(46, 47, 66, 0.4);
    --input-border-focus-color: rgba(46, 47, 66, 1);
    --button-color: rgba(153, 137, 213, 0.69);
    --button-hover-color: rgba(153, 137, 213, 0.90);
    --black: #rgba(0, 0, 0,1);
}

/* Globalne resetowanie stylow */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background: var(--white);
    
}