*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --cloud: rgba(244, 244, 253, 1);
    --nav-color: rgba(90, 90, 231, 0.9);
    --input-border-color: rgba(46, 47, 66, 0.4);
    --input-border-focus-color: rgba(46, 47, 66, 1);
    --button-color: rgba(153, 137, 213, 0.69);
    --button-hover-color: rgba(153, 137, 213, 0.90);
    --black: #rgba(0, 0, 0,1);

    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --ocean: #404BBF;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --green: #31D0AA;
    --light-slate: #8E8F99;
    --dairy: #FCFCFC;
    --grey: #2e2f42;
}

/* Globalne resetowanie stylow */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    
    // border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background: var(--white);
    
}

/* Link */
.link {
    text-decoration: none;
}